{% extends 'base.html' %}
{% block title %} Blog{% endblock title %}
{% block blog %} {% endblock blog %}
{% block contain %}


    <div class=" container   col-md-6 ">
      {% for post in allpost %}
      
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.date}}</div>
          <p class="card-text mb-auto">{{post.content|truncatechars:100 }}</p>
          <div>       
            <a href="{% url 'post' post.slug %}" role=button class="btn btn-primary">Continue reading</a>
          </div>
  
        </div>
        {% endfor %}
        
      </div>
    </div>
      
  
  
  

  {% endblock  %}